<!DOCTYPE html>
<html lang="ru">
<head>
    <style>
        body {
            font-family: Verdana, sans-serif;
        }

        .inline {
            float: left;
            margin-right: 24px;
            margin-bottom: 0;
            vertical-align: center;
            height: 100%;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        #header {
            border-bottom: 1px solid black;
            height: 50px;
        }

        .table-head {
            background-color: #ddd;
        }

        td {
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="header">
    <a href="/"><h3 class="inline">Wineries project HSE winter 2019</h3></a>
    <div class="topnav inline">
        <a href="/select">Сложный селект</a>
        <a href="/window_functions">Оконные функции</a>
        <a href="/insert">Добавление данных</a>
    </div>
</div>
<div><br>
    <table>
        <tr class="table-head">
            <td>
                Twitter пользователя
            </td>
            <td>
                Имя пользователя
            </td>
            <td>
                Обозреваемые регионы
            </td>
        </tr>
        {{#reviewers}}
            <tr>
                <td>
                    {{handle}}
                </td>
                <td>
                    {{name}}
                </td>
                <td>
                    {{#regions}}
                        {{name}},
                    {{/regions}}
                </td>
            </tr>
        {{/reviewers}}
    </table>
</div>
</body>
</html>