<!DOCTYPE html>
<html lang="ru">
<head>
    <style>
        body {
            font-family: Verdana, sans-serif;
        }

        .inline {
            float: left;
            margin-right: 24px;
            margin-bottom: 0;
            vertical-align: center;
            height: 100%;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        #header {
            border-bottom: 1px solid black;
            height: 50px;
        }
    </style>
</head>
<body>
<div id="header">
    <a href="/"><h3 class="inline">Wineries project HSE winter 2019</h3></a>
    <div class="topnav inline">
        <a href="/select">Сложный селект</a>
        <a href="/window_functions">Оконные функции</a>
        <a href="/insert">Добавление данных</a>
    </div>
</div>
<div><br>
    <a href="">Средняя оценка виноградника (топ виноградники)</a><br>
    <a href="">Количество ревью у ревьюеров (топ ревьюеры)</a><br>
    <a href="">Средняя цена по винодельням (топ виноделен по цене)</a><br>
    <a href="">количество виноделен у страны (богатсвто стран на винодельни)</a><br>
    <a href="">количество отзывов у вина (информативность вин)</a><br>
</div>
</body>
</html>